@inject MQTTUIService service
@page "/"

@using System.Text
@using System.Collections.ObjectModel

<PageTitle>Home</PageTitle>

<h1>Solar Dashboard</h1>

<TelerikSwitch ValueChanged="((bool value) => ToggleConnection(value))" OnLabel="Connected" OffLabel="Disconnected" Width="120px" />

<TelerikArcGauge>
    <ArcGaugeCenterLabel>
        <Template>
            @(context.Pointers[0].Value)%
        </Template>
    </ArcGaugeCenterLabel>
    <ArcGaugeScales>
        <ArcGaugeScale Min="0" Max="100">
        </ArcGaugeScale>
    </ArcGaugeScales>
    <ArcGaugePointers>
        <ArcGaugePointer Value="@batteryPowerValue">
        </ArcGaugePointer>
    </ArcGaugePointers>
</TelerikArcGauge>

<p>Battery Power: @batteryPower W </p>
<p>PV Power     : @pvPower      W</p>
<p>Grid Power   : @gridPower    W</p>
<p>Load Power   : @loadPower    W</p>